/*
#board {
  font-family: monospace;
  margin: 0;
  padding: 0;
  position: relative;
}

*/

.tablero{
    position: relative;
    background-color: #383A3F;
    width: 100vw;
    height: 100vh;
}

body{
    margin: 0;
    overflow: hidden;
}

.menu{
    background-color:#58C9B9;
    width: 10vw;
    height: 100vh;
    padding: 5px;
    font-family: Verdana;
    text-align: center;
    font-weight: bold;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.post-it {
  position: absolute !important;
  width: 160px;
  background-color: yellow;
  box-shadow: -2px 2px 5px #555;
  overflow: hidden;
}

.post-it .header {
  background-color: #c2c25b;
  text-align: right;
  padding: 2px;
}

.post-it .header:hover {
  background-color: #a8a860;
}

.post-it .header a, .post-it .header a:visited {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.post-it .header a:hover {
  color: #eee;
}

.post-it .content {
  padding: 10px;
  min-height: 70px;
  outline: none;
}

.close{
    cursor: pointer;

}

.new-tablero{
    width: 300px;
    height: 80px;
    background-color: #EE7785;
    padding: 15px;
    color: white;
    text-align: center;
    font-family: Verdana;
    position: absolute;
    margin: 0;
    top: 40%;
    left: 40%;
    display: none;
    z-index: 998;
}

.active{
    background-color: black;
    opacity: .5;
}